.wrapper {
  align-items: center;
  display: flex;
}

.caption {
  margin-left: 22px;

  & > * {
    display: block;
  }
}

.name {
  color: var(--color-text-primary);
  font-size: 24px;
  font-weight: bolder;
}

.summary {
  color: var(--color-text-secondary);
  font-weight: bolder;
}
