.title {
  margin-bottom: 0.2em;

  & > span {
    display: block;
  }

  .duration {
    color: #888;
    font-size: 0.8em;
    text-transform: uppercase;
  }

  .position {
    margin-bottom: -0.1em;
  }

  .at,
  .as {
    margin: 0 0.5em;
    font-size: 0.8em;

    &:first-child {
      margin-left: 0;
    }
  }

  .name,
  .type {
    font-size: 0.9em;
  }
}
