.link {
  color: var(--color-text-primary);
  font-size: 24px;
  font-weight: bold;
  line-height: 29px;
  text-decoration: none;
}

.isColored {
  color: #fe3a7c;
  background: linear-gradient(45deg, #fe3a7c, #ffa900);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
