.hr {
    display: flex;
    align-items: center;
    margin: 1em 0 1em;
    border: none;

    &::after {
        content: '';
        display: block;
        border-top: 3px dotted #ddd;
        background: transparent;
        width: 100%;
    }
}

.label {
    color: #ccc;
    font-size: .8em;
    font-weight: bolder;
    text-transform: uppercase;
    margin-right: .5em;
    flex: 0 0 content;
}
