@font-face {
    font-family: "Gilroy";
    font-weight: bold;
    src: url("/fonts/Gilroy-ExtraBold.woff2") format("woff2");
    src: url("/fonts/Gilroy-ExtraBold.woff") format("woff");
    src: url("/fonts/Gilroy-ExtraBold.eot") format("eot");
    src: url("/fonts/Gilroy-ExtraBold.otf") format("opentype");
    src: url("/fonts/Gilroy-ExtraBold.ttf") format("truetype");
}

body {
    font-family: 'Noto Sans', sans-serif;
}
